## Deliverable 2. Create a Customer Travel Destinations Map.

In [55]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [56]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Navahrudak,BY,53.6000,25.8333,40.96,71,31,7.96,scattered clouds
1,1,Busselton,AU,-33.6500,115.3333,53.49,66,0,12.28,clear sky
2,2,Ancud,CL,-41.8697,-73.8203,53.56,92,84,12.33,broken clouds
3,3,Bluff,NZ,-46.6000,168.3333,60.80,81,84,7.49,broken clouds
4,4,Hobart,AU,-42.8794,147.3294,48.06,95,75,5.75,light intensity shower rain

In [57]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [58]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Laguna,US,38.4210,-121.4238,77.43,40,0,13.80,clear sky
9,9,Ariquemes,BR,-9.9133,-63.0408,76.01,85,39,3.36,scattered clouds
13,13,Puerto Ayora,EC,-0.7393,-90.3518,75.16,87,100,8.72,overcast clouds
15,15,Port Alfred,ZA,-33.5906,26.8910,71.78,47,1,5.91,clear sky
17,17,Axim,GH,4.8699,-2.2405,80.78,85,43,7.29,scattered clouds
19,19,Touros,BR,-5.1989,-35.4608,77.25,90,100,10.65,overcast clouds
22,22,Bengkulu,ID,-3.8004,102.2655,75.54,88,97,3.85,overcast clouds
23,23,Rikitea,PF,-23.1203,-134.9692,78.08,82,37,16.17,light rain
24,24,Saint-Philippe,RE,-21.3585,55.7679,74.79,86,76,15.35,light rain
28,28,Zhenjiang,CN,32.2092,119.4342,65.80,83,17,1.01,few clouds

In [59]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                305
City                   305
Country                301
Lat                    305
Lng                    305
Max Temp               305
Humidity               305
Cloudiness             305
Wind Speed             305
Current Description    305
dtype: int64

In [60]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
print (preferred_cities_df)

     City_ID          City Country      Lat       Lng  Max Temp  Humidity  \
8          8        Laguna      US  38.4210 -121.4238     77.43        40
9          9     Ariquemes      BR  -9.9133  -63.0408     76.01        85
13        13  Puerto Ayora      EC  -0.7393  -90.3518     75.16        87
15        15   Port Alfred      ZA -33.5906   26.8910     71.78        47
17        17          Axim      GH   4.8699   -2.2405     80.78        85
..       ...           ...     ...      ...       ...       ...       ...
674      674        Kalabo      ZM -14.9700   22.6814     66.40        60
675      675       Leticia      CO  -4.2153  -69.9406     78.85        89
679      679     Blackfoot      US  43.1905 -112.3450     70.05        43
680      680          Palu      ID  -0.8917  119.8707     78.69        91
682      682        Bengbu      CN  32.9408  117.3608     66.94        67

     Cloudiness  Wind Speed Current Description
8             0       13.80           clear sky
9            39        3.36    scattered clouds
13          100        8.72     overcast clouds
15            1        5.91           clear sky
17           43        7.29    scattered clouds
..          ...         ...                 ...
674          42        3.13    scattered clouds
675          40        4.61    scattered clouds
679         100       20.89     overcast clouds
680          87        2.35     overcast clouds
682          21        6.82          few clouds

[301 rows x 10 columns]

In [61]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df["Hotel Address"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name,Hotel Address
8,Laguna,US,77.43,clear sky,38.4210,-121.4238,,
9,Ariquemes,BR,76.01,scattered clouds,-9.9133,-63.0408,,
13,Puerto Ayora,EC,75.16,overcast clouds,-0.7393,-90.3518,,
15,Port Alfred,ZA,71.78,clear sky,-33.5906,26.8910,,
17,Axim,GH,80.78,scattered clouds,4.8699,-2.2405,,
19,Touros,BR,77.25,overcast clouds,-5.1989,-35.4608,,
22,Bengkulu,ID,75.54,overcast clouds,-3.8004,102.2655,,
23,Rikitea,PF,78.08,light rain,-23.1203,-134.9692,,
24,Saint-Philippe,RE,74.79,light rain,-21.3585,55.7679,,
28,Zhenjiang,CN,65.80,few clouds,32.2092,119.4342,,

In [63]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

hotel_names = []
hotel_address = []

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    print(row.City)
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    target_coordinates = f"{lat},{lng}"
    
    params["location"] = target_coordinates
    
    
 
    
    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # 6e. Make request and retrieve the JSON data from the search. 
#     hotels = requests.get(base_url, params=params).json()
    reponse = requests.get(base_url, params=params).json()

    
    #6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

#     if (response.status_code == 200):
#         places_data = response.json()
        
#         if (len(places_data["results"]) > 0):
#             hotel_names.append(places_data["results"][0]["name"])
#             hotel_addresses.append(places_data["results"][0]["vicinity"])
#         else:
#             hotel_names.append("")
#             hotel_addresses.append("")
#     else:
#         hotel_names.append("")
#         hotel_addresses.append("")
        
hotel_df["Hotel Name"] = hotel_names
hotel_df["Hotel Address"] = hotel_addresses
hotel_df.head(10)

Laguna
Ariquemes
Puerto Ayora
Port Alfred
Axim
Touros
Bengkulu
Rikitea
Saint-Philippe
Zhenjiang
Kapaa
Nieuw Amsterdam
Coronel Fabriciano
Santa Cruz Cabralia
Hilo
Salalah
Albany
Kahului
Pathein
Casper
Butaritari
Acurenam
Acarau
Kesinga
Vaini
Monrovia
Sao Filipe
Dimbokro
Mahebourg
Faanui
Bathsheba
Bethel
Paraiba Do Sul
Vilhena
Atuona
Mayumba
Marakkanam
Pouebo
Duluth
Katobu
Birao
Kavieng
Coruripe
Puerto Guzman
Ouesso
Banda Aceh
Weiser
Itarema
Hithadhoo
East London
Pokhara
Black Forest
Macau
Texarkana
Tura
Balabac
Mackay
Pangkalanbuun
Buala
Faya
Victoria
Panama City
Shahrud
Fare
Salinas
Tambura
Dallas
Guerrero Negro
Amahai
Avarua
Hambantota
Sao Joao Da Barra
San Francisco
Waddan
Payo
Pisco
Vila Franca Do Campo
Arraial Do Cabo
Hasaki
Juba
San Quintin
Bubaque
Nouakchott
Dakar
Japura
Chimbote
Kulhudhuffushi
Jamame
Uong Bi
Tabas
Itoman
Wanning
Namibe
Yarada
Huarmey
Lorengau
Fukue
Tchollire
Santa Cruz
Nhulunbuy
Kuching
Sorong
Naze
Cabo San Lucas
Georgetown
Bambous Virieux
Isangel
Puerto Leguizamo
Broome
Sikonge
Garowe
Port-Gentil
Brainerd
San Cristobal
Tabora
Boca Do Acre
Mahibadhoo
Ambon
Sinnamary
Dingle
Trinidad
Cayenne
Masallatah
Camana
Pemba
Port Blair
Qom
Bowen
Gamba
Soyo
Tezu
Palmer
Lagunas
Mana
Iracoubo
Athabasca
Cabedelo
Port Hueneme
San Andres
Rabo De Peixe
Alugan
Silawit
Kavaratti
Aksu
Kathmandu
Conde
Quatre Cocos
Bandarbeyla
Auki
Jacareacanga
Barmer
Charters Towers
Inhambane
Lompoc
San Policarpo
Yeppoon
Iquitos
Puerto Del Rosario
Samarai
Boende
Lanzhou
Warri
Rongcheng
Ambam
Katsuura
Sangin
Gizo
Siuna
Changde
Saquarema
Arrecife
Polson
Poum
Tual
Eldorado
Sao Felix Do Xingu
Byron Bay
Mangrol
Alofi
Caravelas
Benicarlo
Karachi
Tevaitoa
Acari
Huai Thalaeng
Richards Bay
Mwene-Ditu
Sao Jose Da Coroa Grande
Narasannapeta
Bela
Meulaboh
Kununurra
Fayaoue
Half Moon Bay
Huaicheng
Ambulu
Ravar
Westport
Grand Gaube
Mattru
Taiyuan
Adrar
Cienfuegos
Port Hedland
Shimoda
Dhidhdhoo
Ormara
Saint Anthony
Rosario Oeste
Pampa
Qui Nhon
Souillac
Rock Sound
Kitgum
Ahipara
Malinyi
Ron
Puerto Narino
Nueva Germania
Kaseda
Biak
Imbituba
Atar
Dondo
Coari
Makakilo City
Ketou
Palmas
Gilgit
Nouadhibou
Buraydah
Abu Dhabi
Trincomalee
Tiarei
Corrales
Kudahuvadhoo
Mettur
Ilo
Parana
Caruray
Prieska
Barabai
Carbondale
Labuhan
Sechura
Itirucu
Trairi
Saint-Joseph
Matara
Lucea
Sangueya
Bria
Puerto Ayacucho
Seydi
Manicore
Meadow Lake
Xuddur
Saint-Pierre
Sembe
Monywa
Tautira
Cagliliog
Saint-Georges
Lethem
Bouna
Bulalacao
Popondetta
Takoradi
Uige
Mandera
Ferkessedougou
Svay Rieng
Zaranj
Ahuimanu
Khandbari
Jalu
Ambilobe
Kande
Palmas Bellas
Moindou
Aswan
Sabang
Hualmay
Porto Murtinho
Barra Do Garcas
Flic En Flac
Cairns
Espanola
Caldwell
Salinopolis
Maningrida
Hobyo
Nishihara
Victoria Point
Tabou
Port Moresby
Kalabo
Leticia
Blackfoot
Palu
Bengbu

ValueError: Length of values (0) does not match length of index (301)

In [ ]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

In [52]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
preferred_cities_df.to_csv(output_data_file, index_label="City_ID")

In [53]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
figure_layout = {
    'width': '1000px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px'
}


popups = []

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
popups.append(info_box_template)

fig = gmaps.figure(layout=figure_layout, map_type='HYBRID')


# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = preferred_cities_df[["Lat", "Lng"]]

In [54]:
# 11a. Add a marker layer for each city to the map. 

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))